.grid-layout{
  display: grid;
  background-color:#EEE1B3;
  max-width: 100%;
  min-height: 100vh;
  margin:auto;
  
  grid-template-areas:  
                        'header'
                        'nav'
                        'main'
                        'footer';
  grid-template-columns: auto;
  grid-template-rows: 5% 10% auto 7%;
}

.nav{
  grid-area: nav;
  background-color: #3e2599;
  justify-content: center;
  height: 100px;
}
  
.header{
    grid-area: header;
    background-color: #06001b;
  }
/* cambiar main */
.main{
    grid-area: main;
    background-color: #56666b;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 4px 4px 7px 4px rgba(44, 44, 44, 0.685);
  }
 
.footer{
    grid-area: footer;
    background-color: #2F394D;
  }

.ContenedorBotones{
  display: flex;
  width: 80%;
  flex-direction: row;
  justify-content:space-evenly ;
  padding: 20px;
  background-color: #3b2496;
}
h2{
  color: aliceblue;
}
.BotonPrincipal{
 transition: 0.1s ease-in;
 background-color: #3b2496;
 box-shadow: 6px 6px 7px 0px rgba(0,0,0,0.75);
}
.BotonPrincipal:hover{
  padding-bottom: 4px;
  background-color: #5440a1;
  transition: 0.1s ease-in;
}
