.grid-layout{
  display: grid;
  background-color:#ffffff;
  max-width: 100%;
  min-height: 100vh;
  margin:auto;
  
  grid-template-areas:  
                        'header'
                        'nav'
                        'main'
                        'footer';
  grid-template-columns: auto;
  grid-template-rows: 5% 10% auto 7%;
}

.nav{
  grid-area: nav;
  background-color: #675b92;
  justify-content: center;
  height: 100px;
}
  
.header{
    grid-area: header;
    background-color: #06001b;
  }

.main{
    grid-area: main;
    background-color: #797979;
    padding: auto;
    display: flex;
    margin: 100px;
    justify-content: center;
  }
 
.footer{
    grid-area: footer;
    background-color: #5f5f5f;
  }

.ContenedorBotones{
  display: flex;
  width: 80%;
  flex-direction: row;
  justify-content:space-evenly ;
}


